/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {max-width: 100%;
     max-height: 100%;}


     body {

        font-family: 'PT Sans', sans-serif;
     }


/* HEADER AND NAVIGATION */

.header-container {

    width: 100%;
    height: 80px;
    background-color: rgb(65, 152, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.3rem;
    color: aliceblue;
}
.menu-header-lists {
    display: none;
}

.nav-lists {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
}

.menu-header-btn button {
    font-size: 1.2rem;
    padding: .5rem;
    background-color: rgb(65, 152, 227);
    border: none;
    
}

.btn-list {
    background-color: rgb(247, 237, 237);
    padding: .2rem .6rem;
    color: black;
    border-radius: 20px;
}

/* QUERY HEADER AND NAVIGATION MOBILE FIRST */

@media screen and (min-width: 992px) {
    
    .menu-header-lists {
        display: block;
    
    }
    .menu-header-btn {
        display: none;
    }
}

/* SECTION HERO  */

.hero-container {
    width: 100%;
    margin-top: 2rem;
}


.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.col-big, .col {
    width: 90%;
    padding: 2rem 2rem 0;
    background-color: rgb(163, 211, 253);
    border-radius: 15px;
    /* debug */
    min-height: 400px;
}

.col {text-align: center;
line-height: 1.8rem;}

.col-card-icon {
    font-size: 8rem;
    color: rgb(64, 123, 250);
}
.icon-title {  
    font-size: 1.4rem;
    padding: 1rem 0;
    color: rgb(64, 123, 250);
}


.card-text {
    padding: 2rem;
    line-height: 1.5rem;
    text-align: left;
}

.title-text {
    color: rgb(65, 152, 227);
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.btn-big {
    margin: 2rem auto;
    background-color: rgb(65, 152, 227);
    color: white;
    padding: .5rem;
    border-radius: 20px;
    text-align: center;
}

.btn-big i {
    padding-right: .5rem;
}



/* QUERY SECTION HERO */

@media screen and (min-width: 768px) {
    
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .col-big, .img-col-big{
        width: 60%;
        align-self: self-end;
    
    }

    .col {
        width:calc( 88% / 3);
        padding: 1rem;
    }

    .btn-big {
        width: 50%;
        margin: 2rem 0;
    }
    .card-text {
        padding: 0;
    }

}

@media screen and (min-width: 992px) {
    
    .col-big {
        display: flex; 
    }
    
    .title-text {
        font-size: 2rem;
    }
    .card-text {
        width: 50%;
        font-size: 1.2rem;
        
    }

    .img-col-big {
        width: 40%;
        margin: 0 auto;
    }
}

/* STRATEGIC PLANNING SECTION */

.strategic-wrapper {
    width: 100%;
    background-color: rgb(147, 33, 254);
    margin-top: 3rem;
    padding: 3rem 1rem;
}

.strategic-img {
    padding: 3rem;
    text-align: center;
}


.strategic-text {
    padding: 0 2rem;
    color: white;
}

.strategic-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.container-dev {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(232, 232, 232);
    margin-top: 2rem;
    border-radius: 40px;
    text-align: center;
}



.dev-text { 
    padding: 2rem;
    line-height: 1.5rem;
} 

.dev-title {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
} 

.cta-dev {
    padding: .5rem;
    font-size: 1.6rem;
    margin: 1.5rem 0;
    background-color: rgb(147, 33, 254);
    border-radius: 50%;
    min-height: 50px;
    width: 50px;
    border: none;
}

/* QUERY WRAPPER STRATEGIC  */


@media screen and (min-width: 992px) {

    .strategic-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 1rem 0;
        
    }
    
    
    .container-strategic {
        width: 40%;
        padding: 0;
        margin: 0;       
    }

    .dev-text { 
        line-height: 1rem;
    } 

    .container-dev {
        width: 30%;
        margin: 0;
    }
 
    .dev-img img {
        max-height: 300px;
        width: 50%;
    }


}

/* TESIMONIAL SECTION */

.testimonial-row {
    width: 100%;
}

.col-testimonial-text, .col-testimonial {

    width: 80%;
    margin: 2rem auto;
    padding: 1rem .5rem;
    border-radius: 30px;
    text-align: center;
    
}

#testimonial-p {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-title {
    padding: 1.5rem 0;
    color: rgb(147, 33, 254);
    font-weight: bold;
    font-size: 1.6rem;
}

.col-testimonial {
    background-color: rgb(147, 33, 254);
    color: white;
    font-size: 1.2rem;
}


.card-img img {
    border-radius: 50%;
    width: 60%;
    height: 200px;
    margin-top: 1rem;
    object-fit: cover;
}

.card-text-testimonial {
    width: 100%;
    text-align: center;
    line-height: 2rem;
}

.name-card {
    padding-top: 1rem;
}


@media screen and (min-width: 768px)  {

    .col-testimonial {
        display: flex;
        justify-content: center;  
    }

    .col-testimonial .card-text-testimonial {
        
        text-align: left;
        width: 65%;
        padding: 2rem 1rem;
    }
    .card-img {
        width: 30%;
        padding: 1rem;
       
    }
     
    .card-img img {
        border-radius: 50%;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

}
    
@media screen and (min-width: 992px) {

.col-testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-testimonial .card-text-testimonial {
    
    width: 65%;
}
.card-img {
    width: 35%;
    padding: 1rem;
   
}
 
.card-img img {
    border-radius: 50%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

}

@media screen and (min-width: 1440px) {

    .card-img {
        width: 25%;
        padding: 1rem;
       
    }
    
}
  
    